@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
:root{
    --color-box: rgb(230, 230, 121);
    --cor-escrita: rgb(206, 42, 94);
    --cor-numero: rgb(232, 83, 130);
    --cor-escrita-casamento: rgba(209, 23, 82, 0.856);
    --cor-borda: rgb(208, 82, 122);
    --cor-fundo-icones: rgb(218, 57, 108);
    --cor-traje-aviso: rgb(255, 255, 255);
    --cor-borda-corpo: #BEA905;
    --cor-fundo-aniversario: rgb(64, 223, 223);
    --fonte-principal: "Gabriela", serif;
    --fonte-secundaria: "Ledger", serif;
    --fonte-detalhe: "Sevillana", cursive;
}

body{
    text-align: center;
    background-color: bisque;
    font-family: var(--fonte-principal);
    font-size: 1.5em;
}


.opcoes__item{
    text-transform: uppercase;
    list-style: none;
    margin-top: 4.5em;
    margin-right: 1.6em;
    
}

.opcoes__link{
    text-decoration: none;
    border: 1px solid var(--color-box);
    border-radius: 1px;
    background-color: var(--color-box);
    background-repeat: no-reapt;   
    padding: 1.5em 0.8em;
}

.contato{
    display: flex;
    padding: 5em 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.entrar_contato{
    padding-left: 1.5em;
    font-size: 1.5em;
}

.paragrafo{
    margin-right: 0.8em;
    font-size: 1.2em;
}

.img-convite{
    margin-top: 1em;
    margin-bottom: -5em;
    width: 15em;
}

.img-contato{
    width: 6em;
    float: right;
    padding-right: 0.5em;
}



